.admin-page {
    padding: 20px;
}

.customer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.customer-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.customer-box > * {
    margin-bottom: 10px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
}

.order-table th,
.order-table td {
    width: fit-content;
    padding: 2px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: small;
    text-align: -webkit-center;
}

.order-table th {
    background-color: #f0f0f0;
}

.order-table td:last-child {
    white-space: nowrap;
}

.order-table button {
    padding: 5px 8px;
    margin-right: 5px;
    font-size: 12px;
    cursor: pointer;
}

.order-table button:last-child {
    margin-right: 0;
}

.status-buttons{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 5px;

}

.status-buttons button{
    margin: 5px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 3px;
}

.quantity-div{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.quantity-div button{
    margin: 5px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 3px;
}

.remove-customer button{
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
}

.add-dish-btn button{
    background-color: rgb(17, 255, 0);
    color: white;
    padding: 5px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 10px;
    margin: 10px;
}
