.cart-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.cart-page h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align-last: center;

}

.item-status{
    border: 1px solid #d14d72;
    margin: 5px;
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.cart-items {
    margin-bottom: 20px;

}

.cancel-button{
    border: 1px solid #d14d72;
    margin: 5px;
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #D14D72;
    color: white;
}

.cart-item {
    display: flex;
    align-items: center;
    border: 1px solid #d14d7287;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.item-details {
    flex: 1;
}

.item-name {
    font-weight: bold;
}

.item-price, .item-total {
    margin-left: auto;
}

.total-order-value {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.bottom-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pay-button {
    background-color: #D14D72;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.pay-button:hover {
    background-color: #FF738E;
}

.back-to-menu-btn {
    color: #D14D72;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.back-to-menu-btn:hover {
    color: #FF738E;
}
