.bottom-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #FEF2F4;
    box-shadow: 0px -2px 5px 0px rgb(0 0 0 / 4%);
    
}

.pay-button {
    background-color: #D14D72;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40vw;
    text-align: center;
    height: 6vh;
    font-weight: bold;
}

.pay-button:hover {
    background-color: #0056b3;
}

.back-to-menu-btn {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    background-color: #FFABAB;
    padding: 10px;
    border-radius: 10px;
    width: 40vw;
    text-align: center;
    font-weight: bold;
}

.back-to-menu-btn:hover {
    color: #0056b3;
}

.cart-page{
    padding: 10px;
}

th{
    background-color: #FCC8D1;
}

tr{
    border: 1.5px solid #D14D72;
}

td{
    border: 1px solid #FCC8D1;
}