.welcome-column h1{
    text-align: center;
}

.welcome-column h2{
    text-align: left;
    text-align: center;
    font-size: 20px;
}

.menu-container {
    max-width: 500px;
    margin: 0 auto;
    
}

.menu-header {
    text-align: center;
}

.welcome-message {
    text-align: center;
}

.category-select {
    width: 100%;
    margin-bottom: 10px;
}

.dish-list-container {
    padding: 0;
}

.dish-list {
    padding: 0;
    list-style-type: none;
}

.dish-item {
    margin-bottom: 10px;
}

.dish-details {
    display: inline-block;
}

.quantity-controls {
    display: inline-block;
}


.quantity-btn {
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.quantity-btn:hover {
    background-color: #ddd;
}


.dish-list-container {
    padding: 20px;
}

.dish-list {
    list-style: none;
    padding: 0;
}

.dish-item {
    margin-bottom: 20px;
    border: 1px solid #ff0000;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 0px rgb(255 0 0);

}

.dish-details {
    font-weight: bold;
}

.dish-about{
    font-size: 10px;
}


.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-btns {
    display: flex;
    align-items: center;
    border: 1px solid #d14d7282;
    box-shadow: 1px 2px 0px 0px #FCC8D1;
}

.quantity-btn {
    background-color: #FCC8D1;
    color: black;
    cursor: pointer;
    font-weight: bolder;
}


.quantity {
    padding: 0 8px;
    font-weight: bold;
}


.dish-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;

}

.left-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 50%;

}

.right-container{
    min-width: 40%;
    display: flex;
    justify-content: flex-end;

   
}

.bottom-container{
    margin-top: 10px;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;

}



.dish-name{
    font-weight: 600;
   margin-bottom: 10px;
}
.dish-price{
    font-weight: 400;
    font-style: italic;
    margin-bottom: 10px;

}

.image-container{
    border-radius: 10px;
    margin-bottom: 10px;
}

.dish-image{
    border-radius: 10px;
    height: 100px;
    width: 100px;
}



.add-to-cart-btn {
    background-color: #ff5959;
    color: white;
    border: none;
    box-shadow: 0px 5px 0px 0px #FCC8D1;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.add-to-cart-btn:active {
    background-color: #FCC8D1;
    box-shadow: 0px 1px 0px 0px #FCC8D1;
   
}




/* menu.css */

.category-tabs-container {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    padding: 10px 0;
    padding-left: 10px;
    padding-right: 10px;
}

.category-tab {
    padding: 8px 16px; /* Adjust padding for better button spacing */
    margin-right: 10px; /* Add margin between buttons */
    background-color: #FEF2F4; /* Set background color */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor on hover */
    border-radius: 5px; /* Add border radius */
    transition: background-color 0.3s; /* Add transition for smoother hover effect */
    color: black;
}

.category-tab.active {
    background-color: #D14D72; /* Change background color for active tab */
    color: white; /* Change text color for active tab */
    box-shadow: 0px 3px 0px 0px #FCC8D1;
    font-weight: bolder;
}


.cart-button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: hwb(350 95% 0%);
    box-shadow: 0px -2px 5px 0px rgb(0 0 0 / 4%);
}

.cart-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #D14D72;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    width: 80vw;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0px 5px 0px 0px #FCC8D1;
}

.cart-button:hover {
    box-shadow: 0px 1px 0px 0px #FCC8D1;
}

.veg-dish {
    border-color: green;
    box-shadow: 0px 2px 0px rgb(0, 255, 68);
}

/* Regular styles for search box */
.search-box {
    width: 80vw;
    max-width: 300px; /* Adjust width as needed */
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    .search-box {
        max-width: 100%; /* Make search box full width on mobile devices */
        border: 1px solid #D14D72;
        box-shadow: 0px 4px 0px 0px #FCC8D1;
    }
}


#myHeader{    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 1000;
    padding-top: 30px;
    background-color: #FEF2F4;
    box-shadow: -3px 0px 20px 20px #FEF2F4;
}
